@model WCF.BussinessObject.EntityObject.SloganObject

<section id="home">
    <div class="banner-container">
        <img src="@Model.ImagePage" alt="@Model.SloganPage" />
        <div class="container banner-content">
            <div class="hero-text animated fadeInDownBig">
                <h1 class="responsive-headline">@Model.SloganPage</h1>
                <a href="#basics" class="arrow-link"> <i class="fa fa-arrow-circle-down fa-2x"></i> </a>
            </div>
        </div>
    </div>
</section>